@font-face {
    font-family: 'Open Sans';
    src: url(unquote("'https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Regular-webfont.eot'"));
    src: url(unquote("'https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'")),
         url('https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url(unquote("'https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Semibold-webfont.eot'"));
    src: url(unquote("'https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'")),
         url('https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Semibold-webfont.svg#OpenSansBold') format('svg');
    font-weight: 600;
    font-style: normal;
}
