@import 'lib';

.messages li {
    background-color: #3b3b3b;
    bottom: -62px;
    color: #fff;
    cursor: pointer;
    font-family: "MozTT", $open-stack;
    grain();
    height: 62px;
    left: 0;
    line-height: 42px; // height less padding.
    list-style-type: none;
    margin: 0 auto;
    padding: 10px 15px;
    position: fixed;
    right: 0;
    text-align: center;
    transition-duration(.3s);
    transition-property(bottom);
    width: 100%;
    z-index: 9999;
    &.show {
        bottom: 0;
        // using bottom rather than transform as b2g FF
        // seems to mess up the transform causing the message
        // background to be white and no visible text.
        transition-duration(.3s);
        transition-property(bottom);
    }
    p {
        color: $banner-blue;
        display: inline-block;
        line-height: 1.5;
        vertical-align: middle;
    }
}
@media (min-width: 600px) {
    .messages li {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        max-width: 600px;
    }
}

.warning {
    color: $error-red;
    line-height: 18px;
    font-size: 18px;
}
