@import 'lib';

@font-face {
    font-family: 'Open Sans';
    src: url('https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Regular-webfont.eot');
    src: url('https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans';
    src: url('https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Semibold-webfont.eot');
    src: url('https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('https://marketplace-dev-cdn.allizom.org/media/css/mkt/fonts/OpenSans-Semibold-webfont.svg#OpenSansBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding: 0;
    margin: 0;
    background: url("https://marketplace-dev-cdn.allizom.org/media/img/mkt/grain.png?d99a08c") rgb(239, 241, 243);
}

.hidden {
    display: none;

}

.message {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 45%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#content {
    padding: 8px;
}

h2 {
    margin: 0;
    text-align: center;
    &.error {
      color: #800;
    }
}

.centered {
    text-align: center;
}

section.pay {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-height: 480px;
    max-width: 600px;
    position: relative;
    word-wrap: break-word;
}

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}

form footer {
    position: absolute;
    width: 100%;
    padding: 1em;
    bottom: 0;
    left: 0;
}
form footer button,
form footer .button {
    width: 48%;
}
form footer button[type=submit] {
    float: right;
}

#enter-pin {
  display: none;
}

/* PIN Entry Box */

.pinbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 54px;
    input {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 3em;
        background: transparent;
        border: 0;
        padding-top: 32px;
        opacity: 0;

        &::-moz-placeholder {
          text-shadow: 0 1px #fff;
          color: #888;
          font-family: monospace;
        }
        &:-moz-placeholder {
          text-shadow: 0 1px #fff;
          color: #888;
          font-family: monospace;
        }
    }
    .display {
        padding: 8px 13px;
        position: absolute;
        top: -10%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 180px;
        height: 50px;
        .border-radius(2px);
        .box-shadow(0 1px 1px #000);
        .gradient-two-color(#566773, #3e4e59);
        margin: auto;

        span {
            display: block;
            float: left;
            margin-left: 8px;
            width: 32px;
            height: 32px;
            border: 1px solid black;
            border-color: black #888 white;
            background: #fff;
            .box-shadow(inset 0 1px 1px #000);
            position: relative;

            &:first-child {
                margin-left: 0;
            }

            &.filled:after {
                content: '*';
                font-size: 28px;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                text-align: center;
                line-height: 40px;
            }
            &.current {
                .box-shadow(0 0 8px 2px fade(#88f, 80%),
                            0 0 2px blue,
                            inset 0 1px 1px #000);
            }
        }
    }
}

/* Buttons */
.button, button {
    border: 0;
    color: @white;
    display: inline-block;
    font: 600 14px/31px @open-stack;
    height: 32px;
    background-color: #267cc2;
    padding: 0 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
    white-space: nowrap;
    .border-radius(2px);
    .box-shadow(0px 2px 1px fadeOut(#000,80%),
                inset 0px -1px 0px fadeOut(#000, 80%),
                inset 0px 1px 0px 0px fadeOut(#fff, 80%));
    .gradient-two-color(#42a5e1, #267cc2);
    .transition-property(~'-moz-box-shadow, -webkit-box-shadow, box-shadow, line-height');
    .transition-duration(~'.2s, .2s, .2s, .2s');

    &.delete, &.cancel {
        .gradient-two-color(#e45d56, #de4332);
    }

    &:hover {
        .box-shadow(0px 4px 1px fadeOut(#000,80%),
                    inset 0px -3px 0px fadeOut(#000, 80%));
        text-decoration: none;
    }

    &:active {
        .box-shadow(inset 0px 2px 0px 0px fadeOut(#000,80%),
                    inset 0px 12px 24px 6px fadeOut(#000,80%),
                    inset 0px 0px 2px 2px fadeOut(#000,80%));
        .transition-duration(~'.1s, .1s, .1s, .1s');
    }

    &[disabled], &.disabled {
        color: #919497;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        pointer-events: none;
        background-color: @light-gray;
        .gradient-two-color(#ddd, @light-gray);
    }

}
