#super-simulate {
    font-size: 1.7em;
    text-align: center;
    ul, li, select {
        width: 100%;
    }
    ul, li {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        text-align: center;
        padding: 0.5em 0 0 0;
    }
}
