.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}

.hidden {
    display: none;
}

.full-error .hidden-full-error {
    display: none !important;
}
/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
* https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css#L144
*/
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.centered {
    text-align: center;
}
