<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{% block page_title %}{{ _('Web Pay') }}{% endblock %}</title>

    {% block site_css %}
      {{ css('pay') }}
    {% endblock %}

    {% block extra_head %}
    {% endblock %}

  </head>
  <body {% block body_attrs %}{% endblock %}>
    <section class="pay">
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    {% block site_js %}
      <script src="{{ settings.BROWSERID_JS_URL }}"></script>
      <script src="{{ url('jsi18n')|urlparams(lang=LANG) }}"></script>
      {{ js('pay') }}
    {% endblock %}
  </body>
</html>
