*-all.css
*-all.js
*-min.css
*-min.js
*.css.tmp
*.js.tmp
*.less.css
*.py[co]
*.styl.css
*.sw[po]
*/settings/local.py
*~
.DS_Store
.coverage
.noseids
build
build.py
docs/_gh-pages
ezboot.ini
locale/xx
media/spa/css/*
node_modules/grunt*
npm-debug.log
pip-log.txt
settings/local.py
settings_local.py
tmp/*
uitests/captures/*
