* {
    box-sizing(border-box);
}

.visually-hidden {
    visually-hidden();
}

@media $extra-small-max-width {
    .S-visually-hidden {
        visually-hidden();
    }
}

.no-wrap {
    white-space: nowrap;
}
