SRC_DIR="/data/addons-dev/src/marketplace-dev.allizom.org-webpay/webpay"
WWW_DIR="/data/addons-dev/www/marketplace-dev.allizom.org-webpay/webpay"

REMOTE_APP="/data/www/marketplace-dev.allizom.org-webpay/webpay"
REMOTE_UPDATE_SCRIPT="/data/bin/update-www.sh marketplace-dev.allizom.org-webpay"

DEPLOY_SCRIPT = "/data/addons-dev/deploy -n marketplace-dev.allizom.org-webpay"

UPDATE_REF = "origin/master"
UPDATE_VENDOR_REF = "origin/master"

WEB_HOSTGROUP="addons-dev"
CELERY_HOSTGROUP = ''
CELERY_SERVICE = ''

SSH_KEY="/root/keys/addons-updater"

GUNICORN = [
            'gunicorn-webpay-marketplace',
           ]

PYPI_MIRROR = 'https://mrepo.mozilla.org/pypi/simple/'

PYREPO = 'http://pyrepo1.addons.phx1.mozilla.com/'

VIRTUAL_ENV = '/data/addons-dev/src/marketplace-dev.allizom.org-webpay/venv'
PYTHON = VIRTUAL_ENV + '/bin/python'
