@import 'lib/normalize';
@import '_throbber';
@import '_buttons';
@import '_fonts';
@import '_full-error';
@import '_forms';

html, body {
    background: $bg-color;
    color: $dark-gray;
    grain();
    height: 100%;
    margin: 0;
    min-width: 250px;
}

.hidden {
    display: none;
}

.hidden.show {
    display: block;
}

.page {
    display-flex();
    flex-direction(column);
    margin: 0 auto;
    max-width: 700px;
    min-height: 100%;
    padding: 0 20px 10px;
    position: relative;
    width: 100%;
}

main {
    flex(1, 1, 100%);
    width: 100%;
}

.buttons {
    background: rgba(0,0,0,0.03);
    border-top: 1px solid #ccc;
    line-height: 0;
    margin: 10px -20px -10px;
    padding: 10px;

    .button {
        width: calc(50% - 5px);
        margin: 0;

        &:first-child {
            margin-right: 5px
        }

        &:only-child {
            margin: 0;
            width: 100%;
        }
    }
}

.sign-in,
.sign-in:before {
    background: url(../images/persona-btn-sprite.png) no-repeat right top;
}

.sign-in {
    color: $dark-gray;
    display: block;
    height: 42px;
    line-height: 42px;
    margin-top: 20px;
    max-width: 231px;
    padding-left: 50px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px $white;
    width: 100%;
    &:hover,
    &:active,
    &:focus {
        background-position: right bottom;
    }
}

.pinform {
    input {
        font-size: 30px;
        width: 1.5em;
        height: 1.5em;
        text-align: center;
    }
}

// Required to ensure the ember-view is full height of the viewport.
.ember-view {
    height: 100%;
}
