<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
    <meta name="csrf" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{{ _('Payments') }} | Firefox Marketplace</title>
    <link rel="stylesheet" href="{{ spartacus_static("/css/spartacus.css") }}">
  </head>
  <body class="spartacus"
    data-logged-in-user="{{ session.get('logged_in_user', '') }}"
    data-mkt-user="{% if mkt_user %}true{% elif mkt_user == False %}false{% endif %}"
    data-privacy-policy="https://marketplace.firefox.com/privacy-policy"
    data-reset-user-url="{{ url('auth.reset_user') }}"
    data-static-url="{{ settings.SPARTACUS_STATIC }}"
    data-static-docs-url="{{ settings.STATIC_URL }}"
    data-terms-of-service="https://marketplace.firefox.com/terms-of-use"
    data-unverified-issuer="{{ settings.BROWSERID_UNVERIFIED_ISSUER }}"
    data-build-id="{{ spartacus_build_id() }}"
    data-fxa-state="{{ fxa_state }}"
    data-fxa-auth-url="{{ fxa_auth_url }}"
    data-fxa-callback-url="{{ url('auth.fxa_login') }}"
    data-verify-url="{{ url('auth.verify') }}"
    data-reverify-url="{{ url('auth.reverify') }}"
    data-super-powers="{% if super_powers %}true{% else %}false{% endif %}"
    {% if transaction_status_url %}
      data-trans-start-url="{{ transaction_status_url }}"
    {% else %}
      data-trans-start-url="{{ url('api:pay.trans_start_url') }}"
    {% endif %}
    data-trans-status-completed="{{ solitude_constants.STATUS_COMPLETED }}"
    data-trans-status-pending="{{ solitude_constants.STATUS_PENDING }}"
    data-trans-status-failed="{{ solitude_constants.STATUS_FAILED }}"
    data-trans-status-cancelled="{{ solitude_constants.STATUS_CANCELLED }}"
    data-settings="{{ settings.SPA_SETTINGS|json }}"
    data-bango-logout-url="{{ settings.PAY_URLS['bango']['base'] + settings.PAY_URLS['bango']['logout'] }}"
    data-start-view="{{ start_view }}"
    data-error-code="{{ error_code }}"
    >
    <main id="app">
      {# View placeholder #}
      <div id="view" class="view"></div>
      {# Throbber placeholder #}
      <div id="progress" class="progress">
        <div class="throbber">
          <div class="inner">
            <div class="progress"></div>
            <p class="msg">{{ gettext('Loading...')}}</p>
          </div>
        </div>
      </div>
      {# Error placeholder #}
      <div id="error" class="error"></div>
      {# Overlay placeholder #}
      <div id="overlay" class="overlay"></div>
    </main>
    {%block site_js -%}
    {% if settings.SPA_USE_MIN_JS %}
      <script src="{{ spartacus_static("/js/main.min.js") }}"></script>
    {% else %}
      <script data-main="{{ spartacus_static("/js/main.js") }}" src="{{ spartacus_static("/lib/js/requirejs/require.js") }}"></script>
    {% endif %}
    {%- endblock %}
  </body>
</html>
