{% extends "base.html" %}

{% block content %}
  <h2>{{ _('Confirm your PIN:') }}</h2>
  <p>
    <form id="pin" action="{{ url('pin.confirm') }}" method="post">
      {{ csrf() }}
      {{ form.non_field_errors() }}
      <div class="pinbox">
        {{ form.pin }}
      </div>
      <footer>
        {# TODO: This is supposed to be a cancel button
        that takes you out of the webpay process #}
        <a class="button" href="#">{{ _('Cancel') }}</a>
        <button type="submit">{{ _('Continue') }}</button>
      </footer>
    </form>
  </p>

{% endblock %}
