{% extends "base.html" %}

{% block content %}
  {% block extra_content %}{% endblock %}

  <div id="enter-pin">
    {% if form.pin.errors %}
      <h2 class="error">{{ form.pin.errors[0] }}</h2>
    {% else %}
      <h2>{{ title }}</h2>
    {% endif %}
    <p>
      <form id="pin" action="{{ action }}" method="post">
        {{ csrf() }}
        {% if form.pin_recently_entered %}
          {{ _('PIN recently entered.') }}
        {% else %}
        <div class="pinbox">
          {{ form.pin }}
        </div>
        {% endif %}
        <footer>
            {% if form.pin_is_locked %}
              {# TODO: This is supposed to be a cancel button
                 that takes you out of the webpay process #}
              <a class="button" href="{{ url('pin.reset_cancel') }}">
                {{ _('Cancel') }}
              </a>
              <a class="button" href="{{ url('pay.lobby') }}">
                {{ _('Sign in') }}
              </a>
            {% else %}
              {# L10n: This is the same as the standard forgot
                 password that most sites have. #}
              <a class="button" href="{{ url('pin.reset_start') }}">
                {{ _('Forgot PIN?') }}
              </a>
              <button type="submit">{{ _('Continue') }}</button>
            {% endif %}
        </footer>
      </form>
    </p>
  </div>
{% endblock %}
