{% extends "base.html" %}

{% block body_attrs -%}
  data-verify-url="{{ url('auth.reverify') }}"
  data-cancel-url="{{ url('pin.reset_cancel') }}"
{%- endblock %}

{% block content %}
  <h2>{{ _('Your Pin was locked') }}</h2>
  <p>{{ _('Your pin was locked because you entered it incorrectly too many times. You can continue and try entering your pin again or reset your pin.') }}</p>
  <footer>
    <a id="do-reset" class="button sec" href="{{ url('pin.reset_start') }}">
      {{ _('Reset Pin') }}
    </a>
    <a class="button lock-continue" href="{{ url('pin.verify') }}">
      {{ _('Continue') }}
    </a>
  </footer>
{% endblock %}
