{% extends "base.html" %}

{% block body_attrs -%}
  data-verify-url="{{ url('auth.reverify') }}"
  data-cancel-url="{{ url('pin.reset_cancel') }}"
  data-reset-url="{{ url('pin.reset_start') }}"
  data-force-auth-result="redirect"
  data-pin-error-codes="{{ PIN_ERROR_CODES|json }}"
{%- endblock %}

{% block content %}
  {% block extra_content %}{% endblock %}

  <div class="hidden-full-error{% if hide_pin %} hidden{% endif %}" id="enter-pin">

    <h2>{{ title }}</h2>

    <form id="pin" class="pin-form" action="{{ action }}" method="post"
      {% if pin_form_tracking %}
        data-tracking="{{ pin_form_tracking|json }}"
      {% endif %}
      >
      {{ csrf() }}
      <div class="pinbox{% if form.pin.errors %} error{% endif %}">
        {{ form.pin }}
        <p class="error-msg">{% if form.pin.errors %}{{ form.pin.errors[0] }}{% endif %}</p>
        {% if not form.no_pin and not form.reset_flow %}
        {# L10n: This is the same as the standard forgot
                 password that most sites have. #}
        <a id="forgot-pin" class="forgot-pin" href="{{ url('pin.reset_start') }}">
          {{ _('Forgot your pin?') }}
        </a>
        {% endif %}
      </div>

      <footer>
        {% if form.reset_flow  %}
          <a class="button ltchk sec" href="{{ url('pin.reset_cancel') }}" data-track-event="{{ track_cancel|json }}">
            {{ _('Cancel') }}
          </a>
        {% else %}
          <a class="button cancel-button ltchk sec" href="#" data-track-event="{{ track_cancel|json }}">
            {{ _('Cancel') }}
          </a>
        {% endif %}
        <button disabled class="button ltchk" type="submit">{{ _('Continue') }}</button>
      </footer>
    </form>
  </div>
{% endblock %}
