{% extends "pin/pin_form.html" %}
{% set hide_pin=True %}

{% block body_attrs -%}
  data-verify-url="{{ url('auth.reverify') }}"
  data-cancel-url="{{ url('pin.reset_cancel') }}"
  data-force-auth-result="show-pin"
{%- endblock %}

{% block extra_content %}
<form id="confirm-pin-reset">
  <h2>{{ _('Forgot your pin?') }}</h2>
  <p>{{ _('Are you sure you want to reset your pin? You must sign in to Persona to reset your pin.') }}</p>
  <footer>
    <a class="button ltchk sec" href="{{ url('pin.reset_cancel') }}">
      {{ _('Cancel') }}
    </a>
    <a id="do-reset" class="button force-auth-button ltchk reset-pin" href="javascript:false">
      {{ _('Reset') }}
    </a>
  </footer>
</form>
{% endblock %}
