{% extends "pin/pin_form.html" %}

{% block body_attrs -%}
  data-beginflow="true"
  data-privacy-policy="https://marketplace.firefox.com/privacy-policy"
  data-terms-of-service="https://marketplace.firefox.com/terms-of-use"
  data-unverified-issuer="{{ settings.UNVERIFIED_ISSUER }}"
  data-verify-url="{{ url('auth.verify') }}"
{%- endblock %}

{% block extra_content %}
  <div id="begin" class="message">
    {{ _('Beginning payment&hellip;') }}
  </div>
  <div id="login" class="message hidden">
    <p>{{ _('Sign in to continue with the payment:') }}</p>
    <a id="signin" class="button" href="#">{{ _('Sign in') }}</a>
  </div>
  <div id="login-wait" class="message hidden">
    {{ _('logging you in to continue payment&hellip;') }}
  </div>
{% endblock %}
