{% extends "base.html" %}

{% block body_attrs -%}
  data-beginflow="true"
  data-verify-url="{{ url('auth.verify') }}"
{%- endblock %}

{% block content %}
  <div id="begin" class="message">
    Beginning payment&hellip;
  </div>
  <div id="login" class="message hidden">
    <p>Sign in to continue with the payment:</p>
    <a id="signin" class="button" href="#">Sign in</a>
  </div>
  <div id="login-wait" class="message hidden">
    logging you in to continue payment&hellip;
  </div>
  <div id="enter-pin" class="hidden">
    {% with form=pin_form %}
      {% include "pin/includes/verify_form.html" %}
    {% endwith %}
  </div>
{% endblock %}
