{% extends "pin/pin_form.html" %}

{% block body_attrs -%}
  data-flow="lobby"
  data-verify-url="{{ url('auth.verify') }}"
{%- endblock %}

{% block extra_content %}
  <div id="begin" class="message">
    <div class="throbber"></div>
    <span class="txt">{{ _('Beginning payment&hellip;') }}</span>
  </div>
  <div id="login" class="message hidden">
    <h2>{{ _('Sign In') }}</h2>
    <p>{{ _('Sign in to continue with the payment') }}</p>
    <a id="signin" class="sign-in" href="#">{{ _('Sign in') }}</a>
  </div>
  <div id="login-wait" class="message hidden">
    <div class="throbber"></div>
    <span class="txt">{{ _('Connecting to Persona') }}</span>
  </div>
{% endblock %}
