{% extends "pay/base.html" %}

{% block body_attrs -%}
  data-beginflow="true"
  data-verifyurl="{{ url('auth.verify') }}"
{%- endblock %}

{% block extra_head %}
  <script>
    setTimeout(function() {
      console.log('does paymentSuccess exist now?');
      try {
        console.log(paymentSuccess);
      } catch(e) {
        console.log('caught error: ' + e);
      }
    }, 1000);
  </script>
{% endblock %}

{% block content %}
  <p>Sign in to continue with the payment: <a id="signin" href="#">Sign in</a></p>
  <p>
    <form action="{{ url('pay.complete') }}" method="post">
      <input type="submit" value="Complete the payment">
    </form>
  </p>
{% endblock %}
